name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04 # استخدمنا نسخة مستقرة ومحددة
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libffi-dev python3-dev libssl-dev zip unzip openjdk-17-jdk 
          pip install --upgrade pip
          pip install "buildozer>=1.5.0" "cython<3.0" kivy

      - name: Build APK
        run: |
          # هذا الأمر يحل مشاكل التراخيص والتحميل التلقائي
          yes | buildozer -v android debug
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MyApp-APK
          path: bin/*.apk
